main {
  display: grid;
  padding: 50px;
}

.add-ingredient-form {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  margin-bottom: 30px;

  input {
    flex-grow: 1;
    min-width: 150px;
    padding: 9px 13px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    align-self: center;

    &::placeholder {
      color: #6b7280;
    }

    &:focus {
      outline: 2px dashed #3f3b3b;
      outline-offset: 2px;
    }
  }

  button {
    padding: 9px 17px;
    font-family: inherit;
    color: #fafaf8;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.43;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 6px;
    background: #141413;
    cursor: pointer;
    transition: background-color 0.3s;

    &::before {
      content: '+';
      margin-right: 4px;
    }

    &:hover {
      background-color: #d17557;
    }

    &:active {
      background-color: #ac5335;
    }

    &:focus-visible {
      outline: 2px dashed #3f3b3b;
      outline-offset: 2px;
    }
  }
}

.ingredients {
  margin-bottom: 60px;

  h2 {
    margin-bottom: 24px;
  }

  .ingredients__list {
    display: grid;
    row-gap: 0.5rem;
    margin-bottom: 50px;
  }

  .ingredients__get-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: #f0efeb;

    h3 {
      margin: 0;
      margin-bottom: 8px;
      font-size: 1.125rem;
      line-height: 1.33;
      color: #141413;
    }

    button {
      width: 160px;
      padding: 9px 17px;
      font-size: 0.875rem;
      line-height: 1.43;
      font-weight: 500;
      color: #fafaf8;
      border: none;
      border-radius: 6px;
      background: #d17557;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: #ac583c;
    }

    button:active {
      background-color: #d84413;
    }
  }
}

.recipe {
  h2 {
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  strong {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  li {
    margin-bottom: 8px;
    line-height: 1.5;
  }
}

.recipe__container {
  h1 {
    margin: 0;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 700;
  }
}
