@import './components/Header.css';
@import './components/Main.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--color-light-gray);
}

:root {
  --color-white: #ffffff;
  --color-light-gray: #fafaf8;

  --container-width: 594px;
  --container-padding-x: 40px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.title-sm-sb {
  margin: 0;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.27;
  color: #141413;
}

.text-lg-reg {
  margin: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  color: #475467;
}

.text-sm {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #475467;
}
